body {
  
   background-image: linear-gradient(to right, #667eea87, #9f7aea, #667eea87);
}

* {
  margin: 0;
  padding: 0;
}

.message {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


@tailwind base;
@tailwind components;
@tailwind utilities;